# /etc/systemd/system/ec-go-audit.service
[Unit]
Description = ec-go-audit
After=network.target auditd.service
Conflicts = auditd.service

[Service]
Type = simple
ExecStart = /usr/local/sbin/ec-go-audit -config /etc/ec-go-audit.yaml

[Install]
WantedBy = multi-user.target
